* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 10px auto 0 auto;
    width: 98%;
    position: relative;
}

#searchResultList {
    width: 98%;
    margin: 0 auto;
    position: absolute;
    left: 12px;
    /* bottom: -136px; */
    z-index: 30;
    background: #fff;
    visibility: hidden;
}

#spinner {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.searchLi {
    cursor: pointer;
}